@font-face {
    font-family: 'young-serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root{
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 20%, 95%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--stone-100);
    min-height:100vh;
}

main{
    background-color: var(--white);
    min-width: 23.44rem;
}

footer{
    font-size: 0.8rem;
    text-align: center;
    padding: 0.5rem;
}

footer a:focus-visible{
    outline: 0.1rem solid var(--brown-800);
    outline-offset: 0.2rem;
    border-radius: 0.1rem;
    text-decoration: none;
    color: var(--brown-800);
}

h1{
    font-family: 'young-serif', sans-serif;
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--stone-900);
}

p{
    font-size: 1rem;
    color: var(--stone-600);
}

hr{
    border: none;
    height: 0.05rem;
    background-color: var(--stone-150)
}

.recipe-image{
    width: 100%;
    display:block;
}

.recipe-card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    font-family: 'Outfit', sans-serif;
    color: var(--stone-900);
}

.preparation-time{
    background-color: var(--rose-50);
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.preparation-time h2{
    font-size: 1.25rem;
    color: var(--rose-800);
}

.preparation-time ul {
    padding-inline-start: 0.5rem;
}

.preparation-time li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-block: 0.8rem;
    color: var(--stone-600);
}

.preparation-time li::before {
    content: "";
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    background-color: var(--rose-800);
    border-radius: 100%;
}

.ingredients h2, .instructions h2, .nutrition h2{
    font-family: 'young-serif', sans-serif;
    font-size: 1.5rem;
    color: var(--brown-800);
}

.ingredients li{
    font-size: 1rem;
    color: var(--stone-600);
    margin-block: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.ingredients li::before{
    content: "";
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    background-color: var(--brown-800);
    border-radius: 100%;
}

.instructions ol{
    padding: 1rem;
}

.instructions li{
    color: var(--stone-600);
    padding-inline-start: 0.8rem;
    line-height: 1.6;
}

.instructions li::marker{
    color: var(--brown-800);
    font-weight: bold;
}

.nutrition p{
    margin-block-start:0.8rem;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition tr {
    border-bottom: 1px solid var(--stone-150);
}

.nutrition tr:last-child {
    border-bottom: none;
}

.nutrition th { 
    font-weight: normal;
    color: var(--stone-600);
    padding-inline-start: 5rem;
    text-align: left;
}

.nutrition td {  
    color: var(--stone-600);
    padding-block: 1rem;
}

.nutrition .value {
    font-weight: bold;
    color: var(--brown-800);
    text-align: left;
}

@media (min-width: 40rem){
    body {
        padding: 5rem;
    }

    main {
        width: 35rem;
        max-height: 100%;
        border-radius: 1rem;
        padding: 2rem;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    h1{
        font-size: 2.5rem;
    }

    .recipe-image{
        border-radius: 1rem;
        width: 100%;
    }

    .recipe-card{
        padding: 0;
    }
}

@media (min-width: 64rem){
    main{
        width: 46rem;
    }
}